<div class="img-header-mobile">
  <img [src]="imagePath" alt="My Image" style="width: 17%;">
  <img [src]="imagePath2" alt="My second Image" style="width: 68%;">
</div>
<div class="header">
  <div class="img-header">
    <img [src]="imagePath" alt="My Image" style="width: 17%;">
    <img [src]="imagePath2" alt="My second Image" style="width: 68%;">
  </div>
  <div class="text-header">
    <h4>For Rent</h4>
    <h4>For Sale</h4>
    <h4>Our Tenants</h4>
    <h4>Services</h4>
    <h4>Company</h4>
  </div>
  <div class="btn-header">
    <img [src]="imagePath3" alt="My third Image" class="search-img">
    <button class="btn1">Tenants</button>
    <button class="btn2">Agents</button>
  </div>
</div>
<div class="second">
  <div class="text-second">
    <h1>Discover A Place<br> you'll love<br> to live</h1>
    <p class="para">Homie is a real estate soluation that gives you the local scoop about homes. 
      <br>Search confidently with your trusted source of homes for sale or rent.
    </p>
    <button class="btn3">Make An Enquiry</button>
  </div>
  <div class="img-second">
    <img [src]="imagePath4" alt="My Image" class="sec-img">
    <div class="white-sec">
      <h4 style="margin-bottom: 10px;" class="buy">Buy Your Dream Home</h4>
      <h4 style="color: #ff0000;">80+</h4>
      <h4>Home Available</h4>
      <button class="btn4">View Details</button>
    </div>
  </div>
</div>
<div class="third">
  <select>
    <option class="op1" disabled selected hidden>Select your preferred location/city/country</option>
    <option>Gurgaon</option>
    <option>Mumbai</option>
    <option>Bangalore</option>
    <option>Jaipur</option>
  </select>
  <select>
    <option class="op1" value="" disabled selected hidden>Bedrooms</option>
    <option>Master Bedroom</option>
    <option>Kids' Bedroom</option>
    <option>Teens' Bedroom</option>
    <option>Dorm Bedroom</option>
  </select>
  <select>
    <option class="op1" value="" disabled selected hidden>For Rent</option>
    <option>2 BHK</option>
    <option>3 BHK</option>
    <option>4 BHK</option>
    <option>5 BHK</option>
  </select>
  <button class="btn5">
    <i class="fas fa-search search-icon" style="margin-right: 10px; font-size: 1.2rem;"></i>Search</button>
</div>
<div style="height: 50vh;"></div>